@use '@/app/_styles/helpers' as *;


.flipping
{
               display: flex;
               justify-content: end;
               margin-top: auto;
               column-gap: rem(8);

                &__btn
                {
                    background-color: white;
                    transition: transform 0.3s ease;
                    will-change: transform;
                    width: rem(46);
                    height: rem(46);
                    border-radius: 50%;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:not(.btn_d):hover
                    {
                        transform: scale(1.2);
                    }
                }

                .btn_d
                {
                    filter: brightness(0.85) contrast(1.2);
                    cursor: default; 
                   
                }
}