@use '@/app/_styles/helpers' as *;


.CartInfo__main
{
       display: flex;
       flex-direction: column;
       row-gap: rem(140);
      
       align-items: center;
       

       .main__detalis
       {
          display: flex;
          column-gap: rem(71);
          height: rem(600);

       }
}