@use '@/app/_styles/helpers' as *;


.NewArrival
{
    margin-block: rem(140);

    &__content
    {
        display: flex;
        flex-direction: column;
        row-gap: rem(60);
        width: rem(1170);
        height: rem(768);

        .content{
            display: grid;

            grid-template-areas: 
            "ps5 women women"   
            "ps5 ткань gucci";

            column-gap: rem(30);
            row-gap: rem(32);

            width: rem(1170);
            height: rem(600);

            .ps5
            {
                grid-area: ps5;
                width: rem(570);
                background-color: black;
                position: relative;
                border-radius: rem(4);
                height: rem(600);

                &__img
                {
                    
                   margin-top: rem(89);
                   margin-left: rem(29);
                }

                &__content
                {
                   display: flex;
                   flex-direction: column;
                   row-gap: rem(16);
                   color: white;
                   z-index: 8;
                   width: rem(242);
                   
                   position: absolute;
                   bottom: 0;
                   margin-left: rem(32);
                   margin-bottom: rem(32);
                   

                   .title
                   {
                      font-family: "Inter";
                      font-size: rem(24);
                      font-weight: 600;
                      height: rem(24);
                   }

                   p{
                     font-size: rem(14);
                   }

                   a{
                     font-weight: 500;
                     text-decoration: underline;
                     text-underline-offset: 5px; 
                   }
                }
            }

            .women
            {
                grid-area: women;

                width: rem(570);
                height: rem(284);
                background-color: black;
                position: relative;
                border-radius: rem(4);
               

                &__img
                {
                   margin-left: rem(138);
                }

                &__content
                {
                   display: flex;
                   flex-direction: column;
                   row-gap: rem(16);
                   color: white;
                   z-index: 8;
                   width: rem(255);
                   
                   position: absolute;
                   bottom: 0;
                   margin-left: rem(24);
                   margin-bottom: rem(24);
                   

                   .title
                   {
                      font-family: "Inter";
                      font-size: rem(24);
                      font-weight: 600;
                      height: rem(27);
                   }

                   p{
                     font-size: rem(14);
                   }

                  a{
                     font-weight: 500;
                     text-decoration: underline;
                     text-underline-offset: 5px; 
                   }
                }
            }
            .ткань
            {
                grid-area: ткань;
                width: rem(270);
                background-color: black;
                position: relative;
                border-radius: rem(4);
                height: rem(284);

                &__img
                {
                    
                  margin-block: rem(31);
                  margin-inline: rem(30);
                }

                &__content
                {
                   display: flex;
                   flex-direction: column;
                   row-gap: rem(8);
                   color: white;
                   z-index: 8;
                   width: rem(191);
                   
                   position: absolute;
                   bottom: 0;
                   margin-left: rem(24);
                   margin-bottom: rem(24);
                   

                   .title
                   {
                      font-family: "Inter";
                      font-size: rem(24);
                      font-weight: 600;
                      height: rem(27);
                   }

                   p{
                     font-size: rem(14);
                   }

                   a{
                     font-weight: 500;
                     text-decoration: underline;
                     text-underline-offset: 5px; 
                   }
                }
            }

            .Perfume
            {
                grid-area: gucci;
                width: rem(270);
                background-color: black;
                position: relative;
                border-radius: rem(4);
                height: rem(284);

                &__img
                {
                    
                  margin-block: rem(31);
                  margin-inline: rem(30);
                }

                &__content
                {
                   display: flex;
                   flex-direction: column;
                   row-gap: rem(8);
                   color: white;
                   z-index: 8;
                   width: rem(191);
                   
                   position: absolute;
                   bottom: 0;
                   margin-left: rem(24);
                   margin-bottom: rem(24);
                   

                   .title
                   {
                      font-family: "Inter";
                      font-size: rem(24);
                      font-weight: 600;
                      height: rem(24);
                   }

                   p{
                     font-size: rem(14);
                   }

                   a{
                     font-weight: 500;
                     text-decoration: underline;
                     text-underline-offset: 5px; 
                   }
                }
            }
           
        }
    }
}