
@use '@/app/_styles/helpers' as *;

.payment__bank
{
    width: rem(427);
    height: rem(84);
    display: flex;
    column-gap: rem(61);
    .bank__choice
    {
        width: rem(174);
        .choice__list
        {
            display: flex;
            flex-direction: column;
            row-gap: rem(34);
            &-item
            {
                display: flex;
                column-gap: rem(16);
                cursor: pointer;
            }
        }
    }
    .bank__logo
    {
        width: rem(192);
        height: rem(28);
        .logo-list
        {
            display: flex;
            column-gap: rem(8);
            &-item
            {
                img{
                    width: rem(42);
                    height: rem(28);
                }
            }
        }
    }
}