@use '@/app/_styles/helpers' as *;


.time
{
                 margin-top: auto;

                 &__list
                 {
                    display: flex;
                    column-gap: rem(17);
                    width: rem(302);
                    height: rem(50);
                    

                    &-item
                    {
                        display: flex;
                        flex-direction: column;
                        height: rem(50);
                        row-gap: rem(4);
                        
                        .time__title
                        {
                            font-weight: 500;
                            font-size: rem(12);
                            height: rem(18);
                        }

                        .time__number
                        {
                            font-weight: 700;
                            font-size: rem(32);
                            font-family: "Inter";
                            height: rem(28);
                            line-height: 100%;
                        }
                    }

                    img{
                        width: rem(4);
                        height: rem(16);
                        margin-top: rem(26);
                    }
                 }
}