@use '@/app/_styles/helpers' as *;


.Cart__main
{
    width: rem(1170);
    min-height: rem(698);
    display: flex;
    flex-direction: column;
    row-gap: rem(80);

    .main__Basket
    {
        min-height: rem(294);
        display: flex;
        flex-direction: column;
        row-gap: rem(24);

       .Basket__list
       {
          display: flex;
          flex-direction: column;
          row-gap: rem(40);

          .list__title
          {
            width: rem(1170);
            height: rem(72);
            padding-inline: rem(40);
            padding-block: rem(24);
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: rem(4);
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
            
            .title__2
            {
                margin-left: rem(428);
            }
            .title__3
            {
                margin-left: rem(216);
            }
            .title__4
            {
                 margin-left: rem(200);
            }
          }

            .list__container
           {
             max-height: rem(812); 
             overflow-y: auto;
             overflow-x: hidden;
             width: rem(1175);
             display: flex;
             justify-content: center;
             padding-block: rem(5);
             margin-inline: 0 auto; 

             
            }
       
        }
    
        .Basket__btns
        {
            margin-top: rem(24);
            display: flex;
            justify-content: space-between;

            .btns__btn
            {
            background-color: white;
            border-radius: rem(4);
            border: 1px solid rgb(126, 126, 126);
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(218);
            height: rem(56);
        }
            }
    }
    .main__Price

    {
       display: flex;
       justify-content: space-between;
    }
    
}