@use '@/app/_styles/helpers' as *;


.BestSellingProducts__cart
{
          
   .cart__content
    {
        width: rem(1190);
        min-height: rem(365);
        overflow: hidden;
        display: flex;
        align-items: center;
        //padding-inline: rem(10);
        

        .cart__list
        {
            display: flex;
            column-gap: rem(30);
            padding-inline: rem(10);
            
            &:not(.AllProduct)
            {
                transition: transform 0.4s ease; 
            }
        }

        .AllProduct
        {
            display: grid !important;
            grid-template-columns: repeat(4, 1fr) !important;
            row-gap: rem(60);
            padding-block: rem(12);
            transition: all 0.4s ease; /* Магия здесь */
           // padding-inline: rem(10);
            
        }
    }

   
}