@use '@/app/_styles/helpers' as *;



.content__payment
{
    width: rem(527);
    height: rem(600);
    display: flex;
    flex-direction: column;
    row-gap: rem(32);
    margin-top: rem(32);

    .payment__btn
    {
       width: rem(190);
    }
}