@use '@/app/_styles/helpers' as *;

.Person
{
    display: flex;
    justify-content: center;
    


    &__content
    {
        width: rem(1170);
        //min-height: rem(620);
        display: flex;
        flex-direction: column;
        row-gap: rem(40);
        
       //overflow: hidden; /* Скрываем всё, что не влезло в эти 900px */

        .content
        {
            width: rem(1170);
            height: rem(578);
            overflow: hidden; /* Скрываем всё, что не влезло в эти 900px */

             .list
            {
            display: flex;
            //column-gap: rem(30);
            transition: transform 0.8s ease; /* Для плавной прокрутки потом */
           

            

            &-item
            {
                display: flex;
                flex-direction: column;
                row-gap: rem(32);
                width: rem(370);
                height: rem(564);
                flex: 0 0 370px; 
                flex-shrink: 0;

                margin-right: rem(30); // задаем отступ всем

                &:nth-child(3n) {
                  margin-right: 0; // у каждого 3-го (крайнего в ряду) отступ исчезает
                }
                
                

                .info
                {
                   
                    display: flex;
                    flex-direction: column;
                    row-gap: rem(16);

                    &__name
                    {
                        display: flex;
                        flex-direction: column;
                        
                        .name
                        {
                          font-family: "Inter";
                          font-size: rem(32);
                          font-weight: 500;
                        }
                    }

                    &__mes
                    {
                        width: rem(104);
                        display: flex;
                        column-gap: rem(16);
                    }
                }
            }
            }

            .pos-1 { transform: translateX(0); }
            .pos-2 { transform: translateX(-1170px); }
            .pos-3 { transform: translateX(-2340px); }
            .pos-4 { transform: translateX(-3510px); }
            .pos-5 { transform: translateX(-4680px); }
        }

       

        .btn
        {
            width: rem(112);
            display: flex;
            margin-inline: auto;

            &__list
            {
                display: flex;
                column-gap: rem(12);
                align-items: center;

                .item
                {
                  cursor: pointer; /* Меняет стрелку на палец */
                 
                  
                  &__img{

                    transition: transform 0.3s ease; /* Для плавной прокрутки потом */ 
                    &:not(.item__active):hover
                    {
                      transform: scale(1.8);  
                    }
                  }

                  &__active
                  {
                    transform: scale(1.8);
                    
                      circle {
                       fill: #DB4444 !important; 
                      }
                  }
                    
                    
                }

               
            }
        }
    }
}