@use '@/app/_styles/helpers' as *;

.header__title
{
    display: flex;
    flex-direction: column;
    row-gap: rem(24);

    .supertitles
    {
        display: flex;
        column-gap: rem(16);
        align-items: center;


        svg{
            rect{
                fill: #DB4444;
            }
        }

        &__title
        {
            margin-top: rem(2);
            font-size: rem(16);
            font-weight: 600;
            color: #DB4444;
        }


    }

    h1{
        font-family: "Inter";
        font-size: rem(36);
        font-weight: 600;
        height: rem(48);
        display: flex;
       align-items: flex-end; /* Прижать к низу */
  
        margin: 0;             /* Убираем внешние отступы h1 */
        padding: 0;            /* Убираем внутренние отступы h1 */
        line-height: 0.8;        /* Убираем лишнее пространство над/под буквами */
    }
}