@use '@/app/_styles/helpers' as *;


.Registor
{
    padding-top: rem(60);
    padding-bottom: rem(140);
    

    &__content
    {
        display: flex;
        column-gap: rem(129);
        align-items: center;

    }

}