@use '@/app/_styles/helpers' as *;


.Contact
{

    &__header
    {
        font-size: rem(14);
        span{
            color: rgb(139, 139, 139);;
        }
    }

    &__main
    {
        padding-top: rem(80);
        display: flex;
        column-gap: rem(100);
       
    }
}