@use '@/app/_styles/helpers' as *;



.payment__product
{
    width: rem(425);
    display: flex;
    flex-direction: column;
    row-gap: rem(32);
    .product__info
    {
        width: rem(425);
        max-height: rem(312);
        overflow-y: auto;
        overflow-x: hidden;
        .info__list
        {
            display: flex;
            flex-direction: column;
            row-gap: rem(32);
            &-item
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .imgtitle
                {
                   display: flex;
                   column-gap: rem(24);
                   align-items: center;
                   img{
                     width: rem(54);
                     height: rem(54);
                   }
                   .img-клава
                   {
                     width: rem(60)  !important;
                   }
                }
                .item__price
                {
                    margin-top: rem(1);
                }
            }
        }
    }

    .product__price
    {
    width: rem(422);
    height: rem(136);
    .price__list
    {
        display: flex;
        flex-direction: column;
        row-gap: rem(16);
        &-item
        {
           height: rem(40);
           display: flex;
           justify-content: space-between;
           padding-bottom: rem(16);
           border-bottom: 1px solid rgb(139, 139, 139);
            &:nth-child(3) {
               border: none;
               padding-bottom: 0;
               height: rem(24);
            }
        }
    }
    }
}