@use '@/app/_styles/helpers' as *;


.Category
{
            &__content
            {
                width: rem(1199);
                min-height: rem(160);
                overflow: hidden;
                display: flex;
                align-items: center;
                padding-inline: rem(10);
                
                

                .list
                {
                    display: flex;
                    column-gap: rem(30);
                    transition: transform 0.4s ease; 
                    

                    &-item
                    {
                        width: rem(170);
                        height: rem(145);
                        display: flex;
                        flex-direction: column;
                        row-gap: rem(16);
                        justify-content: center;
                        align-items: center;
                        border: 1px solid rgb(148, 148, 148);
                        border-radius: rem(4);
                        cursor: pointer;
                        transition: transform 0.3s ease; 
                        will-change: transform;
                        flex: 0 0 170px; 
                        flex-shrink: 0;

                        h3{
                            font-size: rem(16);
                            font-weight: 400;
                        }

                        &:not(.Category__active):hover
                        {
                          transform: scale(1.1);
                        }
                    }

                    .Category__active
                    {
                        border: none;
                        background-color: #DB4444;
                        color: white;
                        transform: scale(1.1);
                        transition:  0.3s ease; 

                        &:hover
                        {
                            background-color: #d65757;
                        }

                        
                    }
                }
            }
}