@use '@/app/_styles/helpers' as *;

.navig__navigation
{
              

    ul
    {
        display: flex;
        column-gap: rem(48);

        a
        {
            font-size: rem(16);
            transition: 0.3s; 


            &:hover {
                text-decoration: underline;
                text-decoration-color: rgb(136, 136, 136);      /* Цвет линии */
                text-underline-offset: rem(5);      /* ОТСТУП линии от текста */
                text-decoration-thickness: 1px;  
            }
        }

        .isActive
        {
            text-decoration: underline;
            text-decoration-color: rgb(136, 136, 136);     
            text-underline-offset: rem(5);     
            text-decoration-thickness: 1px;  
        }
    }
}