@use '@/app/_styles/helpers' as *;


.Contact__user
{
            width: rem(800);
            height: rem(457);
            box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 
            0 8px 10px -6px rgba(0, 0, 0, 0.1);
            padding-block: rem(40);
            padding-inline: rem(31);

            .ввод
            {
              position: relative;
              .inputs
              {
                display: grid;
                grid-template-areas:
                "m1 m2 m3"
                "большой большой большой";
                  
                
                column-gap: rem(16);
                row-gap: rem(32);

                input
                {
                    border: none;
                    width: rem(235);
                    height: rem(50);
                    border-radius: rem(4);
                    background-color: #F5F5F5;
                    padding-left: rem(16);
                    
                }
              
                
                .большой
                {
                  width: rem(737);
                  height: rem(207);
                  grid-area: большой;
                  border: none;
                  border-radius: rem(4);
                  background-color: #F5F5F5;
                  padding-inline: rem(16);
                  padding-top: rem(13);
                  resize: none;
                  position: relative;
                }

                .error-big
                {
                  color: red;
                  position: absolute;
                  bottom: 25%;
                  font-size: rem(12);
                }
                       
 
                .m1
                {
                    grid-area: m1;
                }
                .m2
                {
                    grid-area: m2;
                }
                .m3
                {
                    grid-area: m3;
                }
              }
  
              .btn
              {
                display: flex;
                margin-left: auto;
                margin-top: rem(32);
              }

              .error-userInput
              {
                position: absolute;
                left: 0;
                bottom: 10%;
                color: #ff0000;
              }
            }
}

.input-group {
  position: relative;
  
  .input-error
  {
    border: 1px solid red;
    border-radius: rem(4);
  }

  .error
  {
    color: red;
    position: absolute;
    top: -50%;
    font-size: rem(12);
  }

  


}



.required-star {
  position: absolute;
  left: 107px; 
  top: 50%;
  transform: translateY(-50%);
  color: #db4444;
  pointer-events: none; 
}

// Скрываем звездочку, когда пользователь начинает печатать
input:not(:placeholder-shown) + .required-star {
  display: none;
}