@use '@/app/_styles/helpers' as *;


.detalis__product
{
            width: rem(400);
            display: flex;
            flex-direction: column;
            row-gap: rem(24);

            .product__info
            {
                height: rem(188);
                display: flex;
                flex-direction: column;
                row-gap: rem(16);
                width: rem(373);

                .info__title
                {
                    height: rem(26);
                    font-size: rem(24);
                    font-weight: 600;
                    font-family: "Inter";
                }

                .info__grade
                {
                    display: flex;
                    width: rem(290);
                    column-gap: rem(16);
                    height: rem(21);
                    

                    .grade__stars
                    {
                        display: flex;
                        column-gap: rem(8);
                        width: rem(203);
                        align-items: center;

                        p{
                            color: rgb(82, 82, 82);
                            font-size: rem(14);
                        }
                    }

                    .grade__InStock
                    {
                        display: flex;
                        column-gap: rem(14);
                        align-items: center;

                        img{
                            height: rem(16);
                        }

                        p{
                            font-size: rem(14);
                            color: #00FF66;
                        }
                    }
                }

                .info__price
                {
                    font-size: rem(24);
                    font-family: "Inter";
                    height: rem(24);
                    font-weight: 400;
                }

                .info__description
                {
                    margin-top: rem(8);
                    font-size: rem(14);
                }
            }

            .product__delivery
            {
                height: rem(364);
                display: flex;
                flex-direction: column;
                row-gap: rem(40);


                .delivery__description
                {
                    width: rem(399);
                    height: rem(180);
                    border-radius: rem(4);
                    border: 1px solid #00000080;

                    .description__free
                    {
                        display: flex;
                        align-items: center;
                        column-gap: rem(16);
                        width: rem(336);
                        height: rem(50);
                        margin-left: rem(16);
                        margin-top: rem(24);

                        img{
                            width: rem(40);
                            height: rem(40);
                        }

                        .free__description
                        {
                            display: flex;
                            flex-direction: column;
                            row-gap: rem(8);
                            width: rem(280);
                            height: rem(50);

                            .description__title
                            {
                                font-size: rem(16);
                                font-weight: 500;
                            }

                            a{
                                font-size: rem(12);
                                font-weight: 500;
                                text-decoration: underline;
                                width: rem(280);
                                height: rem(18);
                            }
                        }
                    }

                    hr{
                        margin-block: rem(16);
                    }

                    .description__return
                    {
                        display: flex;
                        align-items: center;
                        column-gap: rem(16);
                        width: rem(281);
                        height: rem(50);
                        margin-left: rem(16);
                        margin-bottom: rem(24);

                        img{
                            width: rem(40);
                            height: rem(40);
                        }

                        .return__description
                        {
                            display: flex;
                            flex-direction: column;
                            row-gap: rem(8);
                            width: rem(225);
                            height: rem(50);

                            .description__title
                            {
                                font-size: rem(16);
                                font-weight: 500;
                            }

                            .description__сыл{
                                display: flex;
                                column-gap: rem(2);
                                font-size: rem(12);
                                font-weight: 500;
                                width: rem(280);
                                height: rem(18);
                                
                                a{
                                   text-decoration: underline;
                                }
                            }    
                        }  
                    }
                }
            }

}