@use '@/app/_styles/helpers' as *;


.buy__quantity
{
                            display: flex;
                            width: rem(159);
                            height: rem(44);
                            border-radius: rem(4);
                            

                            .quantity__min
                            {
                                width: rem(40);
                                height: rem(44);
                                background-color: white;
                                border: 1px solid #00000080;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-top-left-radius: rem(4);
                                border-bottom-left-radius: rem(4);
                                transition: all 0.2s ease;

                                &:active
                                {
                                    background-color: rgb(219, 219, 219);
                                }
                            }

                            .quantity-dis
                            {
                                cursor: default;
                                background-color: rgb(235, 235, 235);
                            }

                            .quantity__number
                            {
                                width: rem(80);
                                height: rem(44);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: rem(20);
                                font-weight: 500;
                                border-block: 1px solid #00000080;
                            }

                            .quantity__plus
                            {
                                background-color: #DB4444;
                                width: rem(41);
                                height: rem(44);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-top-right-radius: rem(4);
                                border-bottom-right-radius: rem(4);
                                transition: all 0.1s ease;

                                &:active
                                {
                                    background-color: #d35555;
                                }

                                svg{
                                    path{
                                        stroke: white;
                                        stroke-width: rem(1.5);
                                        stroke-linecap: round;
                                    }
                                }
                            }
}