@use '@/app/_styles/helpers' as *;

.up
{
    font-size: rem(14);
    background-color: black;
    color: white;
    height: rem(48);
    max-width: 100%;
    padding-block: rem(12);
    display: flex;
     
    span
    {
        font-weight: 600;
        text-decoration: underline;
        margin-left: rem(8);
    }

    .title
    {
        margin-left: rem(640);
        margin-right: rem(350);
    }

     

        
     
        


}


.select
{
  width: 78px;
  display: flex;
  align-items: center;
  background-color: black;

  .customSelect {
    position: relative;
    margin-right: rem(5);
    cursor: pointer;
    user-select: none;
    border: none;
    background-color: black;

    
    .selectTrigger {
     background: #000000;
     color: white;
    }

    .selectOptions {
     color: white;
     width: rem(70);
     display: none; /* Скрываем по умолчанию */
     position: absolute;
     top: 100%;
     left: 0;
     right: 0;
     background: rgb(0, 0, 0);
     border: 1px solid #ccc;
     z-index: 10;
    }

    .selectOptions {
     display: block;
    }
    
    .option {
     padding: 10px;

      &:hover
      {
        background: #797979;
      }
    }


  
  }

  svg
  {
    width: rem(24);
    height: rem(24);
    transition: transform 0.3s ease-in-out; 
    path{
      fill: white;
    }
  }

  .Вниз
  {
    transform: rotate(0);
    

  }
  
  .Вверх
  {
    transform: rotate(180deg);

  }

}

#google_translate_element {
    display: none;
}