@use '@/app/_styles/helpers' as *;


.BestSellingProducts
{
    margin-top: rem(80);
    display: flex;
    justify-content: center;

    &__content
    {
        display: flex;
        flex-direction: column;
        row-gap: rem(60);

        .content__header
        {
            display: flex;
            justify-content: space-between;
           

            .header__btn
            {
                width: rem(159);
                margin-top: auto;
            }
        }
    }
}