@use '@/app/_styles/helpers' as *;



.detalis__imgs
{
             
            .imgs__list
            {
                display: grid;
                grid-template-areas: 
                "доп  осн"
                "доп1 осн"
                "доп2 осн"
                "доп3 осн";
                row-gap: rem(16);
                column-gap: rem(30);

                &-item
                {
                   background-color: #F5F5F5;
                   border-radius: rem(4);
                   display: flex;
                   justify-content: center;
                   align-items: center;
                }

                .осн
                {
                    width: rem(500);
                    height: rem(600);
                    grid-area: осн;

                    img{
                        width: rem(380);
                        height: rem(360);
                    }

                    .img-клава-осн
                    {
                        width: rem(382) !important;
                        height: rem(202) !important;
                    }
                }
                

                .доп
                {
                   width: rem(170);
                   height: rem(138);

                   img{
                     width: rem(120);
                     height: rem(110);
                   }

                   .img-клава-доп
                   {
                     width: rem(120) !important;
                     height: rem(60) !important;
                   }
                }
                
                .д { grid-area: доп;}
                .д1 { grid-area: доп1;}
                .д2 { grid-area: доп2;}
                .д3 { grid-area: доп3;}
            }
}