@use './helpers' as *;

:root {
  font-family: 'Poppins';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.container
{
  padding-inline: rem(135);
  
}

html {
  scroll-behavior: smooth !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}

.btn-red
{
  background-color: #DB4444;
  color: white;
  padding-block: rem(16);
  padding-inline: rem(48);
  text-align: center;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
                        
  border-radius: rem(4);
                        

  &:hover
  {
    background-color: #d85555;
  }

                        
}

.pading
{
  padding-top: rem(80);
  padding-bottom: rem(140);
}
