@use '@/app/_styles/helpers' as *;

.main__related
{
    display: flex;
    flex-direction: column;
    row-gap: rem(60);
  
  .related__title
  {
    display: flex;
    align-items: center;
    column-gap: rem(16);

    .supertitles__title
    {
        margin-top: rem(2);
        font-size: rem(16);
        font-weight: 600;
        color: #DB4444;
    }
  }

  .related__cart
  {
          
   .cart__content
    {
        width: rem(1190);
        min-height: rem(365);
        overflow: hidden;
        display: flex;
        align-items: center;
        padding-inline: rem(10);

        .cart__list
        {
            display: flex;
            column-gap: rem(30);
            
            transition: transform 0.4s ease; 
           
            &-item
            {
                display: flex;
                flex-direction: column;
                row-gap: rem(16);
                width: rem(270);
                height: rem(350);
                will-change: transform;
                flex: 0 0 270px; 
                flex-shrink: 0;
                transition: transform 0.4s ease; 

                &:hover
                {
                    transform: scale(1.05);

                    .image__карзина
                    {
                        
                        transform: translateY(0); /* Возвращаем на место (вверх) */
                    }
                }

                .image
                {
                    width: rem(270);
                    height: rem(250);
                    position: relative;
                    background-color: #FAFAFA;
                    border-radius: rem(4);
                    overflow: hidden;

                     
                    &__img
                    {
                        margin: auto;
                        margin-block: rem(35);
                    }

                    .клава
                    {
                        margin-block: rem(70) !important;
                    }

                    &__info
                    {
                                position: absolute;
                                top: 0;
                                width: rem(246);
                                margin-top: rem(12);
                                margin-inline: rem(12);
                                z-index: 3;
                                display: flex;
                                justify-content: space-between;

                                .скидка
                                {
                                    padding-block: rem(4);
                                    padding-inline: rem(12);
                                    text-align: center;
                                    background-color: #DB4444;
                                    color: white;
                                    border-radius: rem(4);
                                    font-size: rem(12);
                                    height: rem(26);
                                    display: block;
                                }

                                .notскидка
                                {
                                    display: none !important;
                                }

                                .btns
                                {
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: rem(8);

                                    .btn
                                    {
                                        background-color: #FAFAFA;
                                        width: rem(34) !important;
                                        height: rem(34) !important;                        
                                        
                                        &__img
                                        {
                                          transition: filter 0.3s ease;
                                        }
                                        &__img:hover
                                        {
                                            filter: invert(1);
                                        }
                                    }

                                
                                }

                    }

                    &__infonot
                    {
                        position: absolute;
                        top: 0;
                        margin-top: rem(12);
                        z-index: 3;

                        .notскидка
                        {
                            display: none !important;
                        }

                        .btns
                        {
                            display: flex;
                            flex-direction: column;
                            row-gap: rem(8);
                            margin-left: rem(224);

                            .btn
                            {
                                background-color: #FAFAFA;                        
                                        
                                &__img
                                {
                                    transition: filter 0.3s ease;
                                }
                                &__img:hover
                                {
                                     filter: invert(1);
                                }
                            }

                                
                        }

                        .NEW
                        {
                            position: absolute;
                            display: block;
                            top: 0;
                            left: 0;
                            z-index: 5;
                            margin-left: rem(12);
                            background-color: #00FF66;
                            color: white;
                            width: rem(51);
                            height: rem(26);
                            border-radius: rem(4);
                            padding-block: rem(4);
                            padding-inline: rem(12);
                            font-size: rem(12);
                        }

                        .notNEW
                        {
                            display: none;
                        }
                    }

                    &__карзина
                    {
                        position: absolute;
                        bottom: 0;
                        width: rem(270);
                        height: rem(41);
                        background-color: black;
                        color: white;
                        font-weight: 500;
                        text-align: center;
                        border-radius: 0 0 4px 4px;
                       
                        transform: translateY(100%); /* Уводим вниз на всю её высоту */
                        transition: all 0.3s ease; /* Плавность перехода */

                        &:hover
                        {
                            background-color: rgb(63, 63, 63);
                        }
                    }
                }

                .info
                {
                            display: flex;
                            flex-direction: column;
                            row-gap: rem(8);

                            &__title
                            {
                                font-size: rem(16);
                                font-weight: 500;
                            }

                            &__pcice
                            {
                                display: flex;
                                column-gap: rem(12);

                                .pcice__скидка
                                {
                                    font-weight: 500;
                                    color: #DB4444;
                                }

                                .pcice__пол
                                {
                                    font-weight: 500;
                                    color: rgb(104, 104, 104);
                                    text-decoration: line-through;
                                }
                            }

                            &__grade
                            {
                                display: flex;
                                column-gap: rem(8);
                                align-items: center;

                                

                                .reviews
                                {
                                    font-size: rem(14);
                                    font-weight: 600;
                                    color: rgb(104, 104, 104);
                                }
                            }
                }
            }
        }

        
    }
  } 
}


            
           