@use '@/app/_styles/helpers' as *;

.my-dialog
{
  
  max-height: none; 
  border-radius: rem(10);
  padding: rem(10);
  height: rem(100);


  .buttons
  {

    margin-top: rem(110);
    display: flex;
    justify-content: center;
    column-gap: rem(40);

    .remove
    {
      background-color: rgb(219, 7, 7);
    }

    .отмена
    {
      background-color: rgb(4, 163, 4);
    }

    button{
      color: white;
      padding: rem(5);
      text-align: center;
      width: rem(150);
      height: rem(60);
      font-size: rem(20);
    }
  }
}
dialog[open] {
  display: flex; /* Это заставит его растянуться до заданной высоты */
  flex-direction: column;
  
  /* Указываем высоту */
  height: 300px; 
  width: 500px;
  
  /* Сбрасываем стандартные ограничения браузера */
  max-height: none; 
}