@use '@/app/_styles/helpers' as *;


.left
{
           border-right: 1px solid #c0c0c0;
           padding-top: rem(40);
           padding-right: rem(16);

           &__content
           {
              width: rem(217);

              .list
              {
                 display: flex;
                 flex-direction: column;
                 row-gap: rem(16);

                 &-item
                 {
                    .tille
                    {
                        font-size: rem(16);
                        cursor: pointer;

                        &:hover
                        {
                          text-decoration: underline;
                        }
                    }

                    
                 }

                 .some
                 {
                    display: flex;
                    justify-content: space-between;

                    cursor: pointer;

                    button{
                        background-color: white;

                        svg{
                            transition: transform 0.3s ease; 
                        }

                        .activeстелка
                        {
                           transform: rotate(90deg); 
                        }
                    }
                         
                      
                    

                    
                     

                    &:hover
                    {
                        text-decoration: underline;
                    }

                    
                 }

                 
              }
           }
}