@use '@/app/_styles/helpers' as *;



.payment__coupon
{
    display: flex;
    column-gap: rem(16);
    width: rem(527);
    height: rem(56);
    position: relative;
    .noterror
    {
        display: none;
    }
    .errorCoupon
    {
        display: block !important;
        position: absolute;
        top: -50%;
        color: red;
    }
    .coupon__input{
        width: rem(300);
        border-radius: rem(4);
        padding-left: rem(24);
        border: 1px solid black;
    }
    .coupon__input-error
    {
        border: 1px solid rgb(255, 0, 0) !important;
    }
    .coupon__btn{
        width: rem(211);
        position: relative;
        .tooltipCoupon{
            display: none;
        }
    }
    .activeCoupon
    {
        background-color: #686868;
        transition: all 0.3s ease ;
        &:hover .tooltipCoupon{
            position: absolute;
            display: block;
            top: -80%;
            width: rem(150);
            height: rem(35);
            color: white;
            background-color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: rem(16);
            transition: all 0.3s ease;
            
        }
    }
}