@use '@/app/_styles/helpers' as *;

.content__left
{
            .list
            {
                display: flex;
                flex-direction: column;
                row-gap: rem(20);

                &-item
                {
                   .title
                   {
                      font-weight: 500;
                      font-size: rem(16);
                     margin-bottom: rem(16);
                   }

                   dd
                   {
                       margin: 0;
                       margin-bottom: rem(8);
                        margin-left: rem(35);
                        font-weight: 500;
                        font-size: rem(14);
                        color: rgb(148, 148, 148);
                   }
                   .activeProfil
                    {
                        color: #DB4444;
                    }
                }
            }
}