@use '@/app/_styles/helpers' as *;

.User-form
{
            display: flex;
            flex-direction: column;
            row-gap: rem(32);


            .form
            {
                width: rem(371);
                display: flex;
                flex-direction: column;
                row-gap: rem(45);

                &__title
                {
                    width: rem(339);

                    h1{
                        font-family: "Inter";
                        font-size: rem(38);
                        font-weight: 500;
                        margin-bottom: rem(24);
                    }

                    p{
                        font-size: rem(16);
                    }
                }

                &__inputs
                {
                    display: flex;
                    flex-direction: column;
                    row-gap: rem(42);

                   
                    

                    input{
                        border: none;
                        border-bottom: 1px solid rgb(197, 197, 197);
                        padding-bottom: rem(3);
                        line-height: 10px; /* Текст «всплывет» наверх */

                        &::placeholder
                        {
                            //padding-bottom: rem(10);
                            vertical-align: top;
                            color: rgb(168, 168, 168);
                            font-size: rem(16);
                        }

                        
                    }
                }

                &__buttons
                {
                    display: flex;
                    flex-direction: column;
                    row-gap: rem(16);

                    .btn-submit
                    {
                        background-color: #DB4444;
                        color: white;
                        width: rem(371);
                        height: rem(56);
                        text-align: center;
                        font-weight: 500;
                        font-size: rem(16);
                        border-radius: rem(4);
                        position: relative;



                        .tooltip {
                          visibility: hidden;
                          opacity: 0;
                         transition: opacity 0.3s ease; /* Плавное появление */
                         pointer-events: none; /* Чтобы подсказка не мешала кликам */
                         position: absolute;
                         left: 25%; /* Смещаем вправо от меню */
                         top: -40%;
                         transform: translateY(-50%); /* Центрируем по вертикали */
                         background-color: black;
                         color: white;
                          padding: rem(5);
                        }

                        &:not(.btn-true):hover
                        {
                            background-color: #d85555;
                        }

                        
                    }

                    

                    .btn-true
                    {
                        background-color: #5e5e5e;

                        &:hover .tooltip
                        {
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    .btn-google
                    {
                        background-color: #ffffff;
                        color: rgb(0, 0, 0);
                        width: rem(371);
                        height: rem(56);
                       
                        
                        border-radius: rem(4);
                        border: 1px solid black;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        column-gap: rem(16);

                        svg{
                            width: rem(24);
                            height: rem(24);
                        }

                        .google-fixed-colors path:nth-child(1) { fill: #4285F4 !important; }
                        .google-fixed-colors path:nth-child(2) { fill: #34A853 !important; }
                        .google-fixed-colors path:nth-child(3) { fill: #FBBC04 !important; }
                        .google-fixed-colors path:nth-child(4) { fill: #EA4335 !important; }

                        p{
                            font-size: rem(16);
                        }
                        
                    }

                    .btn-google-true
                    {
                        display: none;
                    }
                }
            }

            .Вход
            {
                display: flex;
                justify-content: center;
                column-gap: rem(16);

                .логин{
                    font-weight: 500;
                    font-size: rem(16);

                   text-decoration: underline;
                   text-decoration-color: rgb(136, 136, 136);      /* Цвет линии */
                   text-underline-offset: rem(10);      /* ОТСТУП линии от текста */
                   text-decoration-thickness: 1px;
                   transition: 0.3s ease; 
                   
                   &:hover
                   {
                     color: rgb(131, 131, 131);
                   }
                }
            }
}

.input-error
{
    border: 1px solid red !important;
}

.error
{
    color: red;
}

.form-error
{
    row-gap: rem(30) ;
}