@use '@/app/_styles/helpers' as *;


.content__data
{
    width: rem(470);
    height: rem(814);
    display: flex;
    flex-direction: column;
    row-gap: rem(24);
    .data__inputs
    {
        height: rem(766);
        .inputs__list
        {
            display: flex;
            flex-direction: column;
            row-gap: rem(32);
            &-item
            {
                width: rem(470);
                height: rem(82);
                display: flex;
                flex-direction: column;
                row-gap: rem(8);
                position: relative;
                label{
                    color: rgb(139, 139, 139);
                    height: rem(24);
                    font-size: rem(16);
                    span{
                        color: #DB4444;
                    }
                }
                input{
                    width: rem(470);
                    height: rem(50);
                    border-radius: rem(4);
                    background-color: #F5F5F5;
                    border: none;
                    padding-left: rem(10);
                }
                .error-input
                {
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: red;
                    font-size: rem(10);
                }
                .error-input-border
                {
                    border: 1px solid red;
                }
            }
        }
    }
    .data__checkbox
    {
        display: flex;
        align-items: center;
        column-gap: rem(16);
    }
}


.customCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: rem(10);
  user-select: none;

  // 1. Прячем реальный чекбокс
  input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    // 2. Когда чекбокс нажат, меняем стиль чекмейка
    &:checked + .checkmark {
      background-color: #DB4444;
      border-color: #DB4444;

      &::after {
        opacity: 1; // Показываем картинку
        transform: scale(1); // Добавляем легкий эффект увеличения
      }
    }

    
  }

  // 3. Создаем "коробочку" чекбокса
  .checkmark {
    @include square(24px);
    border: 1px solid rgb(168, 168, 168);
    border-radius: rem(4);
    position: relative;
    transition: all 0.2s ease;

    display: flex;
    align-items: center;     // Центр по вертикали
    justify-content: center; // Центр по горизонтали

    // 4. Рисуем галочку внутри (через псевдоэлемент)
    &::after {
      content: "";
      position: absolute;
      
      
      width: rem(14); 
      height: rem(10);
      

      background-image: url("./icon/Vector.svg"); 
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      
      opacity: 0; // По умолчанию скрыта
      transform: scale(0.5); // Начальное состояние для анимации
      transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    }
  }

  // Эффект при наведении на всю область
  &:hover .checkmark {
    border-color: #000000;
  }
}