@use '@/app/_styles/helpers/functions' as *;

$Большой: 1400.98;
$laptop: 1140.98;
$Средняя: 1024.98;
$тысяча: 1000.98;
$восемьсот: 800.98;
$tablet: 700.98;
$mobile-g: 505.98;
$mobile-c: 390.98;
$mobile-s: 320.98;

@mixin Большой {
  @media (width <= rem($Большой)) {
    @content;
  }
}

@mixin laptop-above {
  @media (width > rem($laptop)) {
    @content;
  }
}

@mixin laptop {
  @media (width <= rem($laptop)) {
    @content;
  }
}

@mixin Средняя {
  @media (width <= rem($Средняя)) {
    @content;
  }
}

@mixin тысяча {
  @media (width <= rem($тысяча)) {
    @content;
  }
}

@mixin восемьсот {
  @media (width <= rem($восемьсот)) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > rem($tablet)) {
    @content;
  }
}

@mixin tablet {
  @media (width <= rem($tablet)) {
    @content;
  }
}

@mixin mobile-g-above {
  @media (width > rem($mobile-g)) {
    @content;
  }
}

@mixin mobile-g {
  @media (width <= rem($mobile-g)) {
    @content;
  }
}

@mixin mobile-c {
  @media (width <= rem($mobile-c)) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > rem($mobile-s)) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= rem($mobile-s)) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}