@use '@/app/_styles/helpers' as *;


.info__color
{
    display: flex;
    column-gap: rem(8);
    width: rem(48);
    height: rem(20);
    align-items: center;

    
    .btn{
        width: rem(20);        
        height: rem(20);
        border-radius: 50%;
        display: flex;
        align-items: center;  
        justify-content: center;

        .color
        {
          border-radius: 50%;
          
        }

    }
    
    
    .btn-active
    {
        border: 2px solid black;  
        background: white !important;
    
        .color-active {
            width: rem(12);         
            height: rem(12);
            
        }
            
    }
   
    
       
}

   
                             

   

   


                    